<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TingTong_Mail.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
   <connectionStrings>
    <add name="contactDb" connectionString="Data Source=|DataDirectory|\_Cons.ttmdata;Jet OLEDB:Database Password=arn33423342;" providerName="System.Data.OleDb" />
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <TingTong_Mail.MySettings>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="imap" serializeAs="String">
                <value />
            </setting>
            <setting name="pop" serializeAs="String">
                <value />
            </setting>
            <setting name="smtp" serializeAs="String">
                <value />
            </setting>
            <setting name="imapport" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpport" serializeAs="String">
                <value />
            </setting>
            <setting name="popport" serializeAs="String">
                <value />
            </setting>
            <setting name="setup" serializeAs="String">
                <value />
            </setting>
            <setting name="imappop" serializeAs="String">
                <value />
            </setting>
            <setting name="txtserver" serializeAs="String">
                <value />
            </setting>
            <setting name="txtserver1" serializeAs="String">
                <value />
            </setting>
            <setting name="txtport" serializeAs="String">
                <value />
            </setting>
            <setting name="txtport1" serializeAs="String">
                <value />
            </setting>
            <setting name="ssl1" serializeAs="String">
                <value />
            </setting>
            <setting name="ssl2" serializeAs="String">
                <value />
            </setting>
            <setting name="setupdone" serializeAs="String">
                <value />
            </setting>
            <setting name="shutdowncommand" serializeAs="String">
                <value />
            </setting>
            <setting name="addAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenMode" serializeAs="String">
                <value />
            </setting>
            <setting name="NewLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="AddAccountEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SeenUnseenId" serializeAs="String">
                <value />
            </setting>
            <setting name="TopMailId" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteMailId" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenedMailId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentMailFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="MailDownloadDone" serializeAs="String">
                <value />
            </setting>
            <setting name="ContactGroupName" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupsLoaded" serializeAs="String">
                <value />
            </setting>
            <setting name="AddToFavouritesId" serializeAs="String">
                <value />
            </setting>
            <setting name="AddAccountPassword" serializeAs="String">
                <value />
            </setting>
        </TingTong_Mail.MySettings>
    </userSettings>
</configuration>